<app-coordinate-image
  [size]="size"
  [sidenav]="sidenav"
  [document]="document">
</app-coordinate-image>

<div class="[ annotations--container ]">

  <div
    class="[ annotations--content ]"
    *ngFor="let annotation of document.annotations;"
    cdkDrag
    [cdkDragBoundary]="'.coordinates--container'"
    [cdkDragFreeDragPosition]="annotation.position"
    (mouseover)="getImageUrl(annotation)">

    <app-coordinate-annotation
      class="[ annotation--button ]"
      [annotation]="annotation">
    </app-coordinate-annotation>

    <app-annotation-card
      class="[ annotation--card ]"
      [url]="(url$ | async) || 'https://via.placeholder.com/150'"
      [annotation]="annotation">
    </app-annotation-card>
  </div>

</div>
