:host {
  position: fixed;
  inset-inline-end: 3rem;
  inset-block-end: 3rem;
}

.container--zoom-buttons {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-radius: .5rem;
  background-color: rgba(63, 81, 181, 0.5);
}

.container--buttons {
  display: flex;
  gap: 1rem;
}

.size--text {
  font-weight: bold;
  margin: .5rem;
}
