:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

.form--container {
  display: flex;
  flex-direction: column;
}

.form--fields--full-width {
  width: 100%;
}

.image--preview {
  width: 10rem;
  align-self: center;
  border-radius: 0.5rem;
}

.container-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
}

.coordinate--fields {
  display: flex;
  gap: 1rem;
}
