<mat-sidenav-container class="[ surface on-surface-text ]" autosize>

  <mat-sidenav #sidenav mode="side" position="end">
    <app-new-annotation [sidenav]="sidenav"></app-new-annotation>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="[ container--document ]" *ngIf="document$ | async as document">

      <mat-toolbar class="[ toolbar ] [ surface on-surface-text ]">
        <app-document-toolbar-content [document]="document" [sidenav]="sidenav"></app-document-toolbar-content>
      </mat-toolbar>

      <img
        class="[ img ]"
        alt=""
        src="assets/img/{{ document.storage?.url }}"
        [ngStyle]="{ 'inline-size': size + '%' }"/>
      <app-zoom-buttons [(size)]="size"></app-zoom-buttons>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
