<mat-sidenav-container class="[ surface on-surface-text ]" autosize>

  <mat-sidenav #sidenav mode="side" position="end">
    <libs-document-toolbar-add-annotation [sidenav]="sidenav"></libs-document-toolbar-add-annotation>
  </mat-sidenav>

  <mat-sidenav-content>

    <ng-container *ngrxLet="{document: document$, annotations: annotations$} | ngrxPush as vm; suspenseTpl: loading">

      <div class="[ container--document ]">

        <mat-toolbar class="[ toolbar ] [ surface on-surface-text ]">
          <libs-document-toolbar-content [document]="vm!!.document" [sidenav]="sidenav"></libs-document-toolbar-content>
        </mat-toolbar>

        <libs-document-coordinates-container
          #coordinatesContainer
          [ngStyle]="{ 'inline-size': size + '%' }"
          [document]="vm!!.document"
          [annotations]="vm!!.annotations"
          [sidenav]="sidenav"
          [size]="size"
          class="[ coordinates--container ]">
        </libs-document-coordinates-container>

        <libs-document-buttons-zoom [(size)]="size"></libs-document-buttons-zoom>

      </div>

    </ng-container>

    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>

  </mat-sidenav-content>

</mat-sidenav-container>
