:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;
}

.toolbar--title {
  margin: 0;
}

@media (orientation: portrait) and (max-width: 37rem ) {
  .annotation-text {
    display: none;
  }
}
